body{
    background-image: url("./image/Desktop\ -\ 1\ \(1\).jpg");
    background-size: cover;
    font-family: 'Redressed', cursive;
}
*{
    border: 1px dashed lime;
}
.food{
    display: flex;
    justify-content: space-between;
}
.three{
    display: flex;
   

}
.seet{
    display: flex;
    margin-left: 80px;
}
.three p{
    width: 200px;
    text-align: center;
    font-size: large;
    font-size: x-large;
}
#inside{
    margin-top: 30px;
    margin-left: 50px;

}
.one{
    color: #E77F06;
}
#more{
    color: #E77F06;
    padding: 40px;
    margin-left: 40px;
}
.passage{
    width: 580px;
    font-size: xx-large;
    margin-left: 80px;
}
.odour{
    text-align: center;
    width: 400px;
    font-size: 25px;
    background-color: #E77F06;
    border-radius: 50px;
    color: white;
    margin-left: 150px;
    
}